<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理页面</title>
    <style type="text/css">
        table {
            border: 1px solid #ddd;
        }
        tr {
            display: flex;
        }
        tr:nth-of-type(odd) {
            background-color: #deeaf1;
        }
        tr:nth-of-type(even) {
            background-color: #f1f2f3;
        }
        td, th {
            text-align: center;
            width: 100px;
        }
    </style>
</head>
<body>
    <table>
        <caption>所有用户</caption>
        <tr>
            <th>id</th>
            <th>用户名</th>
            <th>密码</th>
        </tr>
        {{users}}
    </table>
    <form action="/admin/users/update" method="post">
        <input type="text" name="id" placeholder="请输入id">
        <br>
        <input type="text" name="password" placeholder="请输入password">
        <br>
        <button type="submit">更新</button>
    </form>
</body>
</html>
